
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
    width: 100vw;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-container input {
    background-color: #F2F2F2;
    width: 80%;
    margin: 5px 0px;
    border: none;
    line-height: 50px;
    font-size: 25px;
}

.input-container input:focus {
    outline: none;
}



