
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
    width: 100vw;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-container input {
    background-color: #F2F2F2;
    width: 80%;
    margin: 5px 0px;
    border: none;
    line-height: 50px;
    font-size: 25px;
    padding-left: 15px;
}

.input-container input:focus {
    outline: none;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.error-span-hidden {
    display: none;
}

.error-span-show {
    display: block;
    font-size: 1rem;
    color: red;
    margin-left: 5%;
}

@media  (min-width : 1824px) {
    .input-container label {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .error-span-show {
        font-size: 1.2rem;
    }
}



