.main-container {
    height: 100vh;
    width: 100vw;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    z-index: 2;
}

.right-section {
    margin-right: -150px;
    z-index: 2;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo-container .ellipse-one {
    position: absolute;
    left: -110px;
    top: -110px;
}

.logo-container .ellipse-two {
    position: absolute;
    left: -90px;
    top: -90px;
    
}

.logo-container .ellipse-three {
    position: absolute;
}

.text-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container .main-text {
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    margin-top: 100px;
}

.text-container .secondary-text {
    color: #39E991;
    font-size: 23px;
    letter-spacing: 0.43em;
    margin-top: -40px;
}

.form-container {
    width: 490px;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    border-radius: 40px;
}

.background-img {
    position: absolute;
    right: -1%;
    z-index: 1;
}

@media  (min-width : 1824px) {
    .background-img {
        height: 914px;
        width: 867px;
    }
    .form-container {
        width: 550px;
        height: 450px;
    }
}