.menu {
    height: 100vh;
    width: 10%;
    min-width: 90px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-nav {
    height: 35%;
    width: 90%;
} 

.menu-nav-ul {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.menu-nav-ul li {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.menu-nav-ul li:hover {
    color: #219653;
    border-left: 10px solid #219653;
}

.menu-nav-ul a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #A5A5A5;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.menu-nav-ul a:hover {
    color: #219653;
}


.menu-logout-container {
    margin-bottom: 40px;
}

.nav-svg:hover {
    fill: #219653;
}

.active {
    color: #219653;
    border-left: 10px solid #219653;
}