.my-registers-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.background-drawer {
    display: none;
}

.background-drawer-active {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;

    background: rgba(0, 0, 0, 0.55);
}


@media (min-device-width : 320px) and (max-device-width : 480px) {
  
}