.my-registers-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.my-registers-container-opacity {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}