.new-register-container-closed {
    display: none;
}

.new-register-container-open {
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    left: 75%;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.new-register-title {
    width: 100%;
    height: 10%;
    border-bottom: 0.3px solid #363636;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.new-register-title span {
    margin: 7%;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #303030;
}

.new-register-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    color: #303030;
}

.new-register-info span:nth-child(1){
    margin:7%;
    font-size: 14px;
}

.new-register-info span:nth-child(3){
    margin:7%;
    font-size: 14px;
}

.new-register-info-name {
    height: 60px;
    font-size: 22px;
    letter-spacing: -0.01em;
    margin-top: -3%;
    margin-left: 7%;
}

.new-register-info-date {
    margin-left: 7%;
    width: 60%;
    background: #F2F2F2;
    text-align: center;
    letter-spacing: 2px;
}


.new-register-buttons {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 0.3px solid #363636;
    transform: matrix(1, 0, 0, 1, 0, 0);
}