.registers-table-container {
    height: 600px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registers-table {
    height: 100%;
    width: 100%;
    font-family: "Nunito", sans-serif;
    margin-top: -10%;
}

.registers-table-tr-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    height: 73px;
    
}

.registers-table-tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    height: 73px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 25px;
}
